@font-face {
    font-family: "poppins-light";
    src: url("../Poppins/Poppins-Light.ttf") format("truetype");
}
  
@font-face {
    font-family: "poppins-heavy";
    src: url("../Poppins/Poppins-ExtraBold.ttf") format("truetype");
}
  
@font-face {
    font-family: "heading";
    src: url("../Patrick_Hand_SC/PatrickHandSC-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "roboto";
    src: url("../Roboto/Roboto-Black.ttf");
}

:root {
    --orange: rgb(241, 92, 12);
    --white: #ffffff;
    max-width: 100%;
}

.main-app {
    background-color: var(--orange);
}

.app {
    display: grid;
    grid-template-rows: repeat(6, auto);
    color: var(--white);
    font-family: poppins-light;
}

.handwritten {
    font-family: poppins-heavy;
}

.strike {
    text-decoration: line-through;
}

button {
    background-color: var(--white);
    color: var(--orange);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    /* margin: 10px; */
    cursor: pointer;
    border: 5px solid white;
}

nav h2 {
    font-size: .6rem;
}

.app a {
    color: var(--white);
}

.section-title {
    margin-top: 80px;
}

